<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% data.forEach((item)=>{%>
            <div>
                <h2>Country <%= item.code %>,<%= item.country %></h2>
                <p>Total confirmed cases : <%= item.confirmed_cases%></p>
                <p>Total death cases : <%= item.deaths%></p>
                <p>Total recovered cases : <%= item.total_recovered%></p>
                <p>date : <%= item.date%></p>
            
            <form action="/update/<%=item.id%>?_method=put" method="post">
                <input type="text" name="country" value="<%= item.country %>">
                <input type="text" name="code" value="<%= item.code %>">
                <input type="text" name="confirmed" value="<%= item.confirmed_cases%>">
                <input type="number" name="deaths" value="<%= item.deaths%>">
                <input type="number" name="recovered" value="<%= item.total_recovered%>">
                <input type="text" name="date" value="<%= item.date%>">
                <input type="submit" value="update">
            </form>
            </div>
        <%})%>
    </section>

</body>
</html>